@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body{
    background-color: #e2ea99;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}
h1{ display: flex;
    text-align:center ;
    flex-wrap: wrap;
    margin-left: 150px;
    margin-right: 100px;
    margin-top: 75px;
    font-family: 'Fredoka One', cursive;
    font-size: 56px;
    font-weight: 700;
    color:#75B79E;
}
.corpo{
    margin:50px 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
img{
    width: 100px;
    height: 100px;
}

.box{
    background-color: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    width: 117px;
    height: 146px;
    margin:20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s;
   /* position: absolute;
    backface-visibility: hidden;*/
    transform-style: preserve-3d;
}
.frente{
    transition: all 1s;
   
}
.verso{
    transition: all 1s;
    transform: rotateY(180deg);
}

.esconder{
    display: none;
}

